.nav{
  background:blue;
  width:100%
  height:200px;
}
.logo{
  padding-right: 61.5%
}
 ul li a{
 color:white;
}

.main {
  background-size: cover;
  height: 700px;
    padding: 0;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    background: url(https://img.freepik.com/premium-photo/blurred-interior-hospital-abstract-medical-background_1028938-285151.jpg?w=900);
}
.buttons{
    margin-top:30%


}
button{

   padding-right: 2rem;
    background:#55ed97;
    padding-left:50%
    width:200px;
     color: #ffff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 7px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51,51,51,0.5);
    cursor: pointer;
    margin: 4px;

}
button:hover{
    color: black;
    background-color:#55ed97;
}
.fade_bottom{
  z-index:1;
   width:100%
    margin-top: 37px;
    height: 7.4rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}