<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Cancelled</title>
    <script>
        setTimeout(function() {
            window.location.href = '/patient_app/appointment_book/';  // Redirect after 5 seconds
        }, 5000);
    </script>
</head>
<body>
<div class="container mt-5">
    <h2>Payment Cancelled</h2>
    <p>Your payment was not completed Please try again</p>
    <p>You will be redirected shortly</p>
</div>
</body>
</html>
